.popOver{
  position: fixed;
  top: 0;
  width: 100%;
  height: inherit;
  .overlay{
    @include isCenter;
    top: -1.3rem;
    width: 87.5%;
    height: 5.88rem;
    background: url('http://wxxdmy-game.oss-cn-hangzhou.aliyuncs.com/image/overlay-bg.png') no-repeat center;
    background-size: 100%;
    .pop-close{
      position: absolute;
      top: .6rem;
      right: .24rem;
      width: .42rem;
      height: .42rem;
      line-height: .42rem;
      border: 1px solid rgb(252,199,7);
      border-radius: 50%;
      text-align: center;
    }
    .award-big{
      @include isCenter;
      top: -.3rem;
      width: 51.5%;
      height: 2.96rem;
      + p{
        height: .38rem;
        top: auto;
        bottom: 15.5%;
        + p{
          top: auto;
          bottom: -.2rem;
          width: 39%;
        }
      }
    }
    p{
      @include isCenter;
      color: rgb(217,124,0);
      font-size: .28rem;
      text-align: center;
    }
  }
  .mask{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 9001;
  }
  .pop-btn{
    @include isCenter;
    top: auto;
    bottom: -1.3rem;
    width: 38%;
    height: .78rem;
    border: 3px solid rgb(255,216,100);
    border-radius: 1rem;
    box-shadow: 0 .06rem 0 rgb(224,178,23);
    background: rgb(241,93,53);
    text-align: center;
    color: rgb(255,234,151);
    font-size: .36rem;
    line-height: .78rem;
  }
}
