.sharePop{
  @extend .popOver;
  z-index: 9999;
  .top-info{
    p{
      position: absolute;
      top: .9rem;
      left: 1.2rem;
      color: $white;
      letter-spacing: .04rem;
      font-weight: 400;
    }
    img{
      width: 10%;
      position: absolute;
      animation: Bounce 1s infinite;
      bottom: auto;
      left: auto;
      right: .3rem;
    }
  }
}

@keyframes Bounce {
  0% {
    top: .3rem;
  }
  50% {
    top: .4rem;
  }
  100% {
    top: .3rem;
  }
}
