@import "redPacket";
.union{
  background: rgb(253,236,210);
  padding-bottom: 1.6rem;
  height: 100%;
  .top-img{
    position: relative;
    .scale{
      position: absolute;
      top: 70%;
      right: 13.5%;
      color: rgb(178,43,36);
      text-align: center;
      transform: rotate(24deg);
      h6, p{
        font-size: .16rem;
      }
    }
    + img{
      position: relative;
      top: -.3rem;
      z-index: 902;
    }
  }
  .cut-line{
    width: 80%;
    margin: 0 auto;
    margin-bottom: .52rem;
    border-top: 1px solid rgb(218,57,49);
    .point-board{
      width: 38.7%;
      margin: 0 auto;
      display: flex;
      .point-sm{
        @include circle(.1rem);
        background: rgb(218,57,49);
        margin-top: -.06rem;
        &:first-child{
          margin-right: .3rem;
        }
        &:last-child{
          margin-left: .3rem;
        }
      }
      .point-md{
        @include circle(.14rem);
        background: rgb(218,57,49);
        margin: 0 auto;
        margin-top: -.08rem;
      }
    }
  }
  .friendList{
    margin-bottom: .52rem;
    .friendLabel{
      margin: 0 auto;
      margin-top: .2rem;
      width: 77.6%;
      height: .8rem;
      img{
        float: left;
        width: .8rem;
        height: .8rem;
        padding-right: .2rem;
      }
      .basic-info{
        color: rgb(218,57,50);
        font-size: .28rem;
        padding-bottom: .05rem;
        .time{
          color: #2d2d2d;
          font-size: .24rem;
          padding-left: .15rem;
        }
        .gift-account{
          float: right;
        }
      }
      .gift-brief{
        font-size: .24rem;
      }
    }
  }
  .readMe{
    width: 77.6%;
    margin: 0 auto;
    overflow: hidden;
    color: rgb(14,5,10);
    p{
      font-size: .24rem;
    }
  }
  h4{
    font-weight: 400;
    text-align: center;
    padding-bottom: .3rem;
  }
}
